<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/mainStyle.css}">
    <title>Sign Up</title>
</head>
<body>
<a href="index.html">Main page</a>
<div class="loginForm">
    <form action="signUp" method="post">
        <label for="username">Username</label><br/>
        <input type="text" name="username"/><br/>
        <label for="pword">Password</label><br/>
        <input type="password" name="pword"><br/>
        <button type="submit">Sign Up</button>
        <a href="index/another">Another</a>
    </form>
</div>
</body>
</html>